<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content >
    <div class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
      <div class="h1 title">亲子银行</div>
    </div>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <div class="list">

      <div class="item item-avatar">
        <img src="app/img/docs/mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        存钱
      </a>
      <a href="#" class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        取钱
      </a>

    </div>
  </ion-side-menu>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>
</ion-side-menus>

<!--<div class="bar bar-header bar-positive">-->
<!--<button class="button button-icon icon ion-navicon"></button>-->
<!--<div class="h1 title">亲子银行</div>-->
<!--</div>-->