<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">注册亲子银行账号</h1>
      </section>

      <div class="right">
        <a class="" href="#/login"><span>登陆</span></a>
      </div>
    </nav>



    <section class="main-section">
      <br/>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>用户名
              <input type="text" placeholder="请输入用户名" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>密码
              <input type="text" placeholder="请输入密码" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a href="#" class="button expand">注册</a>
          </div>
        </div>
      </form>
    </section>

    <a class="exit-off-canvas"></a>

  </div>


</div>


</div>

